[Desktop Entry]
Name=Mellite
Version=0.1.1
GenericName=Mellite
Comment=Mellite Computer Music Environment
Exec=/usr/share/mellite-launcher/bin/mellite-launcher %F
StartupWMClass=de-sciss-mellite-Mellite
Icon=/usr/share/mellite-launcher/Mellite.png
Categories=Audio;AudioVideo;Music
Terminal=false
Type=Application
